.top-header {
    background-color: #4A148C;
    color: white;
    padding: 5px 0;
    text-align: right;
  }

  .main-header {
    background-color: #e9ecef;
    padding: 20px 0;
    text-align: center;
  }

  .main-header img {
    max-height: 85px;
  }

  .navbar {
    background-color: #FFFFFF;
  }

  .navbar-nav .nav-link {
    color: #4A148C !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }


  .header-section h1 {
    font-weight: bold;
  }

  .header-section p {
    font-size: 1.25rem;
  }
  .contact-form {
    margin-top: 50px;
  }
  .form-inline .form-group {
    display: inline-block;
    margin-right: 15px;
  }
  .form-inline .form-group .form-control {
    width: auto;
  }
  .footer {
    background-color: #4A148C;
    color: white;
    padding: 40px 0;
  }
  .footer a {
    color: white;
  }
  .footer a:hover {
    color: #ddd;
  }
  .footer .social-icons i {
    font-size: 24px;
    margin: 0 10px;
  }
  .footer-logo{
    width: 30%;
  }